<h1>New Articles#new</h1>
<p>Find me in app/views/articles/new.html.erb</p>
<%# by default on submit it goes to same path so we add url: property %>

<%= render 'form'%>

<%= link_to 'Back', articles_path%>
